* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #09806a;
  --primary-darken: #09806a;
  --primary-lighten: #1fb196;
  --secondary: #0c5c44;
  --dark: #e7e7e7;
  --background: #ffffff;
  --error: red;
}

body {
  background-color: var(--dark);
}

header {
  background-color: var(--secondary);
  color: white;
  padding: 2rem 0;
  nav {
    ul {
      list-style: none;
      a {
        color: white;
        font-weight: bold;
      }
    }
  }
}

main {
  min-height: 70vh;
  background-color: var(--background);
  padding: 2rem 0;
}

footer {
  padding: 2rem 0;
  background-color: var(--dark);
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1.2em;
  color: var(--primary-darken);
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  max-width: 50rem;
}

a {
  color: #867a73;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  margin: 1rem 0;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: var(--primary-lighten);
  }
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid var(--dark);
  margin: 0.5rem 0 1.5rem 0;
}

textarea {
  height: 100px;
  resize: vertical;
}

.order {
  img {
    max-height: 200px;
  }
}

.error {
  color: var(--error);
  margin: 0.5rem 0 2rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    display: inline-block;
  }
  h1 {
    margin-bottom: 0;
  }
}

#overview {
  .album {
    margin-bottom: 2rem;
  }
  .thumbnails {
    margin-top: 1rem;
    img {
      max-height: 100px;
    }
  }
  .first-use {
    margin-top: 2rem;
  }
}

.upload {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img {
    max-height: 200px;
  }
  form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
  }
}

.album {
  .description {
    margin-bottom: 2rem;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    img {
      max-height: 200px;
    }
  }
  .top {
    margin-bottom: 2rem;
  }
  .description {
    margin-top: 2rem;
  }
  ul {
    padding-left: 30px;
    margin-top: 1rem;
    li {
      margin-bottom: 0.5rem;
    }
  }
  .controls {
    margin-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    form {
      margin-right: 1rem;
    }
  }
}

.album-details {
  form {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
  }
}