* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffddb3;
}

header {
  background-color: #fff2e2;
  padding: 2rem 0;
}

main {
  min-height: 70vh;
  background-color: #fff9f2;
  padding: 2rem 0;
}

footer {
  padding: 2rem 0;
  background-color: #ffddb3;
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1.2em;
  color: #8b4a00;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #867a73;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: #8b4a00;
  color: white;
  font-weight: bold;
  margin: 1rem 0;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: #a75900;
  }
}

.order {
  img {
    max-height: 200px;
  }
}

#overview {
  .thumbnails {
    margin-top: 1rem;
    img {
      max-height: 100px;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
      display: inline-block;
    }
    h1 {
      margin-bottom: 0;
    }
  }
  .first-use {
    margin-top: 2rem;
  }
}