* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #21ccac;
  --primary-lighten: #48ecce;
  --secondary: #5cbfa1;
  --dark: #cccccc;
  --background: #ffffff;

}

body {
  background-color: var(--dark);
}

header {
  background-color: var(--secondary);
  color: white;
  padding: 2rem 0;
}

main {
  min-height: 70vh;
  background-color: var(--background);
  padding: 2rem 0;
}

footer {
  padding: 2rem 0;
  background-color: var(--dark);
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
}

h1 {
  margin-bottom: 1.2em;
  color: var(--primary);
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: #867a73;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: var(--primary);
  color: white;
  font-weight: bold;
  margin: 1rem 0;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: var(--primary-lighten);
  }
}

.order {
  img {
    max-height: 200px;
  }
}

#overview {
  .thumbnails {
    margin-top: 1rem;
    img {
      max-height: 100px;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    * {
      display: inline-block;
    }
    h1 {
      margin-bottom: 0;
    }
  }
  .first-use {
    margin-top: 2rem;
  }
}

.upload {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  img {
    max-height: 200px;
  }
}