* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --error: red;
}

body {
  background-color: #e7e7e7;
}

header {
  background-color: #0c5c44;
  color: white;
  padding: 2rem 0;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul a {
  color: white;
  font-weight: bold;
}

main {
  min-height: 70vh;
  background-color: #ffffff;
  padding: 2rem 0;
}

footer {
  padding: 2rem 0;
  background-color: #e7e7e7;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
  overflow-x: hidden;
}

.visuallyhidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

span.copy {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  margin-bottom: 1.2em;
  color: #025a4a;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  max-width: 50rem;
}

a {
  color: #867a73;
}

button, .button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 0;
  background-color: #09806a;
  color: white;
  font-weight: bold;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  font-family: serif;
  font-size: 15px;
}

button:hover, .button:hover {
  background-color: #1fb196;
}

button.error, .button.error {
  background-color: transparent;
  border: 3px solid red;
}

button.error:hover, .button.error:hover {
  background-color: red;
  color: white;
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid #e7e7e7;
  margin: 0.5rem 0 1.5rem 0;
}

textarea {
  height: 100px;
  resize: vertical;
}

.order img {
  max-height: 200px;
}

.order .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.order .images .image:first-child .move-up {
  display: none;
}

.order .images .image:last-child .move-down {
  display: none;
}

@media (max-width: 1200px) {
  .order .images {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .order .images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.auth form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  margin-bottom: 2rem;
}

.id h1 span {
  color: black;
}

.error {
  color: red;
  margin: 0.5rem 0 2rem 0;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top * {
  display: inline-block;
}

.top h1 {
  margin-bottom: 0;
}

#overview .album {
  margin-bottom: 2rem;
}

#overview .thumbnails {
  margin-top: 1rem;
}

#overview .thumbnails img {
  max-height: 100px;
}

#overview .first-use {
  margin-top: 2rem;
}

.album .images img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.album .images .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.album .images .image a {
  position: absolute;
  display: block;
  bottom: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: white;
  opacity: 0;
  padding: 0.3rem;
}

.album .images .image:hover a {
  opacity: 1;
}

.album .button {
  margin-right: 1rem;
}

.upload .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 767px) {
  .upload .images {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .upload .images {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.upload .images img {
  width: 100%;
}

.upload img {
  max-height: 200px;
}

.upload form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40rem;
}

.upload form button {
  max-width: 100px;
}

.upload .button {
  display: inline-block;
  margin-top: 2rem;
}

.album .description {
  margin-bottom: 2rem;
}

.album .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.album .images img {
  max-height: 200px;
}

.album .top {
  margin-bottom: 2rem;
}

.album .description {
  margin-top: 2rem;
}

.album ul {
  padding-left: 30px;
  margin-top: 1rem;
}

.album ul li {
  margin-bottom: 0.5rem;
}

.album .controls {
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album .controls form {
  margin-right: 1rem;
}

.album-details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 40rem;
}

.steps {
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}

.steps > ::before {
  content: '';
  width: 100%;
  height: 10px;
  background-color: #ececec;
  position: absolute;
  top: 20px;
  z-index: -1;
}

.steps ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.steps ul li {
  background-color: white;
}

.steps ul li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps ul li a .number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
  border: 4px solid #09806a;
  -webkit-transition: .4s;
  transition: .4s;
}

.steps ul li a.active .number, .steps ul li a:hover .number {
  background-color: #09806a;
  color: white;
}

.steps ul li a.finished .number {
  background-color: #025a4a;
  border-color: #025a4a;
  color: white;
}

.steps ul li a.disabled .number {
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  color: #2c2c2c;
}

.steps ul li a p {
  font-weight: bold;
}

.breadcrumbs {
  margin-bottom: 2rem;
}

.breadcrumbs ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs ul li {
  margin-right: 2rem;
}

.breadcrumbs ul li:not(:last-child) ::after {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 5px solid #363636;
  border-top: 5px solid transparent;
  border-left: 0 dotted;
  border-bottom: 5px solid transparent;
  vertical-align: middle;
  margin-left: 2px;
  content: '';
  -webkit-transform: rotate(180deg) translateX(-1rem);
          transform: rotate(180deg) translateX(-1rem);
}

.upload-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 1100px) {
  .upload-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .upload-wrapper .images {
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.photos .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photos .wrapper img {
  height: 150px;
  line-height: 150px;
  background: #EC985A;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.draggable {
  cursor: move;
}

.dragging {
  cursor: -webkit-grab;
  cursor: grab;
}

.notification {
  position: fixed;
  bottom: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  background-color: #09806a;
  color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.notification.error {
  background-color: red;
}

.image {
  position: relative;
}

.image form {
  position: absolute;
  top: 0;
}

.image form.move-down {
  bottom: 0;
  top: unset;
}

.image form button {
  margin: 0;
}

.image form {
  opacity: 0;
}

.image form.visible {
  opacity: 1;
}

#image-order {
  opacity: 0;
  max-width: 0;
  max-height: 0;
  overflow: hidden;
}

@media (pointer: coarse) {
  .image form {
    opacity: 1;
  }
  #image-order {
    opacity: 1;
    max-height: unset;
    max-width: unset;
    padding: 0.5rem 1rem;
  }
}

.photo-detail .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photo-detail .wrapper div:first-child {
  max-width: 50%;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .photo-detail .wrapper div:first-child {
    width: 100%;
    max-width: 100%;
  }
}

.photo-detail .wrapper h3 {
  margin-bottom: 0.5rem;
}

.photo-detail .wrapper p {
  margin-bottom: 2rem;
}

.carousel .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  max-width: 100%;
  overflow-x: scroll;
}

.carousel .photos.js {
  max-width: unset;
  overflow-x: unset;
}

.carousel .photos > div {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1rem;
  background-color: whitesmoke;
}

.carousel .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.visible {
  opacity: 1 !important;
  max-width: unset !important;
  overflow: unset !important;
  max-height: unset !important;
}
/*# sourceMappingURL=style.css.map */