<header>
  <div class="container">
    <nav>
      <ul>
        <li>
          <a href="/albums?userId=<%= userId %>">Albums</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="container">