<header>
  <div class="container">
    <nav>
      <ul>
        <li>
          <% if (typeof(userId) !== 'undefined') { %>
          <a href="/albums?userId=<%= userId %>">Albums</a>
          <% } %>
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="container">