<header>
  <div class="container">
    <nav>
      <ul>
        <% if (typeof(userId) !== 'undefined') { %>
        <li>
          <a href="/albums?userId=<%= userId %>">Albums</a>
        </li>
        <li>
          <a href="/photos?userId=<%= userId %>">All photos</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="container">